# Dépendances locales
node_modules

# Builds locaux (Vite va rebuild de toute façon)
dist

# Logs
*.log

# Variables d'environnement locales
.env
.env.local

# IDE & système
.DS_Store
.vscode
.idea

# Tests unitaires ou snapshots si pas utiles dans l'image statique
tests
coverage
